@font-face {
    font-family: 'ProximaNovaSbold';
    src: url('FontsFree-Net-Proxima-Nova-ExCn-Sbold.otf');
}

@font-face {
    font-family: 'HelveticaNeue_Thin';
    src: url('HelveticaNeue-Thin.otf');
}

@font-face {
    font-family: 'HelveticaNeue_Light';
    src: url('helvetica-neue-lt-com-45-light.ttf');
}